VITE_GTM_CONTAINER_ID=GTM-N8VN5JGM
VITE_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
VITE_POSTHOG_KEY=phc_your_project_api_key
VITE_POSTHOG_HOST=https://us.i.posthog.com
OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=questura-v2
SUMMER_PROGRAM_CODE=summer2026
